@use "./../__styles/mixins.scss" as *;

.root {
  position: relative;
}

.button {
  cursor: pointer;
  padding: 8px 12px;
  min-width: 200px;
}

.menu {
  margin: 0;
  padding: 4px;
  position: absolute;
  top: calc((100% + 4px));
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  list-style: none;
  min-width: 150px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.item {
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;

  @include custom-focus;

  @include hover {
    background-color: #e1e2e3;
  }

  & + & {
    margin-top: 2px;
  }
}
