.root {
  --spinner-size: 20px;
  --line-width: 2px;
  --line-height: 7px;
  --line-radius: 1px;
  --animation-duration: 1.2s;

  position: relative;
  width: var(--spinner-size);
  height: var(--spinner-size);

  &.lg {
    --spinner-size: 40px;
    --line-width: 4px;
    --line-height: 12px;
    --line-radius: 3px;
  }

  &.md {
    --spinner-size: 30px;
    --line-width: 2.5px;
    --line-height: 9px;
    --line-radius: 2px;
  }
}

.line {
  position: absolute;
  left: 50%;
  width: var(--line-width);
  height: var(--line-height);
  background-color: rgb(54, 92, 215);
  border-radius: var(--line-radius);
  transform-origin: center calc(var(--spinner-size) / 2);
  animation: fade var(--animation-duration) linear infinite;
  opacity: 0.35;
}

@for $i from 1 through 12 {
  .line:nth-child(#{$i}) {
    transform: translateX(-50%) rotate(#{($i - 1) * 30}deg);
    animation-delay: #{($i - 1) * 0.1}s;
  }
}

@keyframes fade {
  0%,
  100% {
    opacity: 0.35;
  }

  50% {
    opacity: 1;
  }
}

.dot {
  position: absolute;
  left: 50%;
  width: 3px;
  height: 3px;
  background-color: rgb(54, 92, 215);
  border-radius: 50%;
  transform-origin: center calc(var(--spinner-size) / 2);
  animation: spin 1.6s ease infinite;
}

@for $i from 1 through 6 {
  .dot:nth-child(#{$i}) {
    animation-delay: #{($i - 1) * 0.1}s;
  }
}

@keyframes spin {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }

  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}
