@use "./../__styles/mixins.scss" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 10px 20px;

  border: 1px solid #a0b3cc;

  text-align: left;
  cursor: pointer;

  @include custom-focus;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.inner {
  padding: 10px 20px;
  background: rgb(197, 219, 231);
}

.icon {
  margin-left: 10px;
}
