.root {
  position: relative;
}

.input {
  cursor: pointer;
}

.options {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
}

.icon {
  display: block;
  width: 20px;
  height: 20px;
  transform: rotate(-90deg);
  transition: transform 0.15s ease;

  &.open {
    transform: rotate(90deg);
  }
}

.endContent {
  display: flex;
  align-items: center;
  gap: 8px;
}
