@use "./../__styles/mixins.scss" as *;

.root {
  position: relative;
  padding: 4px;
  border: 1px solid #e1e2e3;
  border-radius: 4px;
  overflow: auto;
  min-width: 250px;
  max-height: 200px;

  @include custom-focus;
  @include hide-scrollbar;
}
