@use "./../__styles/mixins.scss" as *;

.button {
  cursor: pointer;
  background: #007acc;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  transition: background 0.2s ease;

  @include custom-focus;
  @include hover {
    background: #005fa3;
  }
}

.panel {
  margin-top: 10px;
  padding: 12px;
  background: #f5f5f5;
  border-left: 4px solid #007acc;
  border-radius: 4px;
}
